 html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

body, input, select, textarea{
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif ;
}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover{
  color: orange;
}

header{
  grid-area:header;
  background-color: deepskyblue;
  color: white;
  display: flex;
  align-items: center;
  padding: .5rem;
  text-align: center;
  font-family: Charter;
  font-size: 2rem;
}

header a{
  color: white;
  text-decoration: none ;
}

main{
  grid-area:main;
}

footer{
  grid-area:footer;
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.filters{
flex: 1;
}

.main{
  flex: 4;
}

.sidebar{
  flex: 1;
}

/* products */

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.items li{
  flex: 0 1 29rem;
  padding: 1rem;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-price{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2393df;
  margin-top: 2rem;
}


.btn{
  padding: 0.5rem;
  margin: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  text-align: center;
  flex: 1;
  font-size: 1.25rem;
}

.add-button{
  background-color: #2393df;
}

.image-container{
  display: flex;
  justify-content: center;
}

.sorting-input{
  width: 100%;
}
 
.cart{
padding: 1rem;
margin: 1rem;
display: flex;
flex: 1;
}

.cart-header{
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
  
}

.cart-items li {
  display: flex;
  border-bottom: 0.1rem #e0e0e0 solid;
}

.cart-items div {
padding: 0.5rem;
}

.cart-items div:last-child {
  flex: 1;
}

.right{
  text-align: right;
}

.btn-outline-danger, .btn-outline-success {
  font-size: larger;
}

.card-border{
  border: 1rem #2393df solid;
}

.color{
  color:#2393df;
}

.center{
  text-align: center;
  margin: auto;
}